<section class="featured-events">
  {{#each featured}}
  <div class="featured-event">
    <h2>
      <a href="event/{{eventId}}/">{{name}} {{eventId}}</a>
      <p class="">{{description}}</p>
      <p class="date">{{date}}</p>
    </h2>
  </div>
  {{/each}}
</section>  
