<section class="featured-events">
  {{#each featuredEvents}}
  <div class="featured-event">
    <h2>
      <a href="event/{{@index}}/">{{name}} {{@index}}</a>
      <p class="">{{description}}</p>
      <p class="date">{{date}}</p>
    </h2>
  </div>
  {{/each}}
</section>  
