<div class="homepage-events-list">
  <ul class="time-filters">
    <li>
      <a href="#?show=today" class={{today}}>Today</a>
    </li>
    <li>
      <a href="#?show=tomorrow" class={{tomorrow}}>Tomorrow</a>
    </li>
    <li>
      <a href="#?show=thisweek" class={{thisweek}}>This Week</a>
    </li>
  </ul>
   <ol>
     {{#each events}}
     <li class="event">
       <div class="left-details">
         <h4><a href="event/{{eventId}}/">{{name}}</a></h4>
         <p class="date">{{date}}</p>
         <p class="price">{{price}}</p>
         <p class="description">{{description}}</p>
         
       </div>
     </li>
     {{/each}}
   </ol>

</div>
